<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title>wt2</title>
  <base href="<%= baseURL %>" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="module" src="./js/index.js"></script>
  <link rel="stylesheet" href="./css/styles.css" />
  
</head>

<body>
    <%- include('../partials/header') %>
    <main role="main" class="container">
      
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
